@model JoshDevenyi_PokemonPassionProject.Models.ViewModels.UpdatePokemon

@{
    ViewBag.Title = "Edit";
}

<h2>Update @Model.SelectedPokemon.PokemonName Details</h2>

<div class="linkBox">
    <a href="/Pokemon/List">Back to Pokémon List</a>
</div>

<form action="/Pokemon/Update/@Model.SelectedPokemon.PokemonId" method="POST">

    <div style="display:none;">
        <input type="number" name="PokemonId" value="@Model.SelectedPokemon.PokemonId" />
    </div>

    <div class="inputBox">
        <label>Name:</label>
        <input type="text" name="PokemonName" value="@Model.SelectedPokemon.PokemonName" />
    </div>

    <div class="inputBox">
        <label>Pokédex #:</label>
        <input type="number" name="PokedexNumber" value="@Model.SelectedPokemon.PokedexNumber" />
    </div>

    <div class="inputBox">
        <label>Pokemon Type:</label>
        <select name="PokemonTypeId">
            @foreach (var PokemonType in Model.PokemonTypeOptions)
            {
                <option value="@PokemonType.PokemonTypeId">@PokemonType.PokemonTypeName</option>
            }
        </select>
    </div>

    <div class="inputBox">
        <input type="submit" value="Update Pokémon" />
    </div>

</form>
