@model JoshDevenyi_PokemonPassionProject.Models.ViewModels.DetailsPokemonType

@{
    ViewBag.Title = "Details";
}

<div class="linkBox">
    <a href="/PokemonType/List" class="navLink">Go Back to Type List</a>
    <br />
    <a href="/PokemonType/Edit/@Model.SelectedPokemonType.PokemonTypeId" class="navLink">Edit Type Details</a>
    <br />
    <a style="color:red;" href="/PokemonType/DeleteConfirm/@Model.SelectedPokemonType.PokemonTypeId" class="navLink">Delete Type</a>
</div>

<div class="contentBox" style="border-left: 20px solid @Model.SelectedPokemonType.PokemonTypeColor; border-right: 20px solid @Model.SelectedPokemonType.PokemonTypeColor;">


    <h2>List of <span style="color: @Model.SelectedPokemonType.PokemonTypeColor;">@Model.SelectedPokemonType.PokemonTypeName</span> Pokémon</h2>

    @foreach (var pokemon in Model.RelatedPokemons)
    {
        <div>
            <h3><a href="/Pokemon/Details/@pokemon.PokemonId">@pokemon.PokemonName</a></h3>
        </div>
    }

</div>



